/* Home.html */

#container{
    display: grid;
    height: 100vh;
    grid-template-rows: 1.5fr 7.5fr 1fr;
    grid-template-areas: 
    'he he he'
    'ma ma ma'
    'nav nav nav';
}

body{
    margin: 0;
}

#header{
    grid-area: he;
    background: rgb(240, 240, 240);
    border-style: none none solid none;
    border-color: orange;
    display: flex;
    justify-content: space-between;
}   

#Settings{
    height: 60px;
    width: 60;
}

#Searchdiv{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#Searchbar{
    height: 35%;
    background-color: rgb(200, 200, 200);
}

#main{
    grid-area: ma;
    background: rgb(240, 240, 240);
}

#nav{
    grid-area: nav;
    background: rgb(240, 240, 240);
    height: auto;
    border-style: solid none none none;
    border-color: orange;
    display: flex;
}

button{
    height: auto;
    flex: 1;
}

/* Write.html */

#containerw{
    display: grid;
    height: 100vh;
    grid-template-rows: 1.5fr 7.5fr 1fr;
    grid-template-areas: 
    'hew hew hew'
    'maw maw maw'
    'navw navw navw';
}

#headerw{
    grid-area: hew;
    background: rgb(240, 240, 240);
    display: flex;
    justify-content: space-between;
}

#Settingsw{
    height: 60px;
    width: 60;
}

#Title{
    height: 15%;
    background-color: rgb(200, 200, 200);
    text-align: center;
    align-self: center;
}

#Sidebar{
    width: 60px;
    height: 70px;
    cursor: pointer;
    align-self: center;
}

.menu{
    position: fixed;
    height: 100vh;
    width: 80vw;
    top: 0;
    left: -90vw;
    background: orange;
    transition: left 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;
}


.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(50,50,50,0.5);
    display: none;
    z-index: 5;
}

.visible{
    display: block;
}

.show{
    left: 0vw;
}

#mainw{
    grid-area: maw;
    background: rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
}

#Textwrite{
    height: 90%;
    width: 75%;
    background-color: rgb(200, 200, 200);
}

#navw{
    grid-area: navw;
    background: rgb(240, 240, 240);
    border-style: solid none none none;
    border-color: orange;
    display: flex;
}

/* Favorites.html */

#containerf{
    display: grid;
    height: 100vh;
    grid-template-rows: 1.5fr 7.5fr 1fr;
    grid-template-areas: 
    'hef hef hef'
    'maf maf maf'
    'navf navf navf';
}

#headerf{
    grid-area: hef;
    background: rgb(240, 240, 240);
    display: flex;
    justify-content: flex-end;
}

#Settingsf{
    height: 60px;
    width: 60px;
}

#mainf{
    grid-area: maf;
    background: rgb(240, 240, 240);
}

#navf{
    grid-area: navf;
    background: rgb(240, 240, 240);
    border-style: solid none none none;
    border-color: orange;
    display: flex;
}

/* Profile.html */

#containerp{
    display: grid;
    height: 100vh;
    grid-template-rows: 1.5fr 7.5fr 1fr;
    grid-template-areas: 
    'hep hep hep'
    'map map map'
    'navp navp navp';
}

#headerp{
    grid-area: hep;
    background: rgb(240, 240, 240);
    border-style: none none solid none;
    border-color: rgba(50,50,50,0.5);
    display: flex;
}

#hcontainerp{
    display: flex;
}

#Settingsp{
    height: 60px;
    width: 60px;
}

#Heart{
    height: 60px;
    width: 60px;
}

#mainp{
    grid-area: map;
    background: rgb(240, 240, 240);
}

#navp{
    grid-area: navp;
    background: rgb(240, 240, 240);
    border-style: solid none none none;
    border-color: orange;
    display: flex;
}