#container{
    display: grid;
    grid-template-areas: 
    'he he he'
    'ma ma ma'
    'nav nav nav';
}

body{
    margin: 0;
}

#header{
    grid-area: he;
    background: white;
    height: 15vh;
}   

#main{
    grid-area: ma;
    background: white;
    height: 75vh;
}

#nav{
    grid-area: nav;
    background: white;
    height: 10vh;
    border-style: solid;
    border-color: orange;
}